.js-score-download-status {
  background-color: green !important;
}

aside section div[direction='row'] button[state='primary'][align='left'] {
  background-color: green !important;
}

a.musescore-free {
  cursor: pointer;
}
